.todo-header {
  text-align: center;
  padding: 2rem;
}

.todo-main {
  min-height: 100vh;
}

.todo-section {
  margin: 0 auto;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 30rem;
}
