.btn--edit {
  margin-left: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #5cb85c;
  background-color: #fbfafb;
}

.btn--delete {
  margin-left: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #d9534f;
  background-color: #fbfafb;
}

.btn--clear-all {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #d9534f;
  color: #fbfafb;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
}

.btn--submit {
  margin: 0 0.4rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #4d7bf3;
  color: #fbfafb;
  font-size: 1rem;
  box-shadow: -7px 11px 19px -2px rgba(0, 0, 0, 0.75);
}
