.todo-item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fbfafb;
  margin-bottom: 1rem;
  border-radius: 50px;
  overflow: hidden;
  animation: addAnimation 0.2s ease-in;
}

todo-item--deleted {
  animation: removeAnimation;
}

@keyframes addAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes removeAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.todo-item .todo-item__text {
  cursor: pointer;
}

.todo-item__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item__inline {
  background-color: #fbfafb;
  width: 100%;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 50px;
}
