.todo-item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fbfafb;
  margin-bottom: 1rem;
  border-radius: 50px;
  overflow: hidden;
}

.todo-item-enter {
  opacity: 0;
}

.todo-item-enter--active {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.todo-item-exit {
  opacity: 1;
}

.todo-item-exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.todo-item .todo-item__text {
  cursor: pointer;
}

.todo-item__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item__inline {
  background-color: #fbfafb;
  width: 100%;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 50px;
}
