.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2rem 0;
  text-align: center;
}

.todo-input {
  padding: 1rem;
  min-width: 20rem;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  box-shadow: -7px 11px 19px -2px rgba(0, 0, 0, 0.75);
}
